<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf='report' top left>{{report.city.name}} ({{report.city.country}})</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding *ngIf='report'>
  <forecast *ngFor= "let forecast of report.list" [forecast]=forecast ></forecast>

  <ion-fab top right  *ngIf="!favorite" (click)="saveCity()">
    <button ion-fab color="light">
      <ion-icon name="star"></ion-icon>
    </button>
  </ion-fab>
      
</ion-content>