<ion-card margin  (click)="showDetail()">
    <ion-card-header  >
        <ion-card-title color="secondary" >{{forecast.dt_txt | date: 'dd/MM/yyyy HH:mm'}}</ion-card-title>
    </ion-card-header>
     
    <ion-card-content>
        <label>{{forecast.weather[0].main}} ({{forecast.weather[0].description}})</label><br>
        <label>Max: {{ kelvinToCelsius(forecast.main.temp_max)}} °C</label><br>
        <label>Min: {{ kelvinToCelsius(forecast.main.temp_min)}} °C</label><br>       
    </ion-card-content>  
</ion-card> 