<ion-header>
  <ion-navbar color="primary">
    <ion-title>My cities</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <div *ngIf='cities'>
    <city *ngFor="let city of cities" [city]=city ></city>
  </div>
    <ion-fab bottom right >
      <button ion-fab color="secondary" >...</button>
      <ion-fab-list side="top">
        <button ion-fab color="secondary" navPush="SearchPage">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-fab-list>
      <ion-fab-list side="left">
          <button ion-fab color="secondary" (click)="findByGeo(false)">Geo</button>
      </ion-fab-list>
    </ion-fab>

   
   
</ion-content>
