<ion-card  >
  <ion-card-header (click)="showForecast()" >
      <ion-card-title>{{city.name}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-9>{{city.country}}</ion-col>
          <ion-col col-3>
              <button ion-button color="secondary"  (click)="deleteCity()" >
                <ion-icon name="trash" >
              </ion-icon></button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card-content>

</ion-card>