<ion-header>
  <ion-navbar color="primary">
    <ion-title>Search</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating >City</ion-label>
    <ion-input type="tex" required [(ngModel)]="city"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating >Country</ion-label>
    <ion-input type="tex" required [(ngModel)]="country"> </ion-input>
  </ion-item>
  <button ion-button round margin color="secondary" (click)="showForecast()">Search </button>
</ion-content>
