<ion-header>
  <ion-navbar *ngIf='forecast' color="primary">
    <ion-title>{{forecast.dt_txt | date: 'dd/MM/yyyy HH:mm'}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding *ngIf='forecast'> 
    <ion-grid>
        <ion-row border>
            <ion-col col-4 *ngIf="iconUrl"><img [src]="iconUrl" width="80%" height="80%"> </ion-col>
            <ion-col col-4 *ngIf="iconUrl"><img [src]="iconUrl" width="80%" height="80%"> </ion-col>
            <ion-col col-4 *ngIf="iconUrl"><img [src]="iconUrl" width="80%" height="80%"> </ion-col>
          </ion-row>
        <ion-row border>
          <ion-col col-6>Weather:</ion-col>
          <ion-col col-6>{{forecast.weather[0].main}} ({{forecast.weather[0].description}})</ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>Temperature:</ion-col>
          <ion-col col-6>{{ kelvinToCelsius(forecast.main.temp)}} °C</ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>Temperature Max:</ion-col>
          <ion-col col-6>{{ kelvinToCelsius(forecast.main.temp_max)}} °C</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Temperature Min:</ion-col>
          <ion-col col-6>{{ kelvinToCelsius(forecast.main.temp_min)}} °C</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Clouds(%):</ion-col>
          <ion-col col-6>{{forecast.clouds.all}} %</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Wind speed:</ion-col>
          <ion-col col-6>{{transformWindSpeed(forecast.wind.speed)}} Km/h</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Humidity (%):</ion-col>
          <ion-col col-6>{{forecast.main.humidity}} %</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Atmospheric pressure:</ion-col>
          <ion-col col-6>{{forecast.main.pressure}} hPa</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Atmospheric pressure on the sea level:</ion-col>
          <ion-col col-6>{{forecast.main.sea_level}} hPa</ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
